body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fa;
    margin: 30px;
    padding: 20px;
    text-align: right;
}
.container {
    max-width: 2000px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px; 
    }

    tr {
        margin-bottom: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        text-align: left;
    }
}

hr {
    border: 1px solid #ddd;
}

.header {
    text-align: right;
    font-size: 22px;
    color: #01527a;
    padding: 0px 0px 20px 0px;
}
.label {
    text-align: right;
    font-size: 20px;
    color: #01527a;
    padding: 10px 0px 10px 0px;
    font-weight: normal;
}
.sub-label {
    font-size: 14px;
    color: #636364;
    font-weight: normal;
}
.text {
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 0px 0px 0px 0px;
}
.button-container {
    text-align: left;
    margin-top: 20px;
}
button {
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #007bff;
    color: white;
}
